html {
  scroll-behavior: smooth;
}
input{
	/*border-radius: 1px;*/
	/*background-color: grey;*/
	width: 35%;
	padding: 12px;
  /*margin: 8px 0;*/
  /*box-sizing: border-box;*/border:none;
    border-bottom: 2px solid red;


}
::placeholder {
  color: grey;
  opacity: 25%;
}
button{
	 background-color: #e7e7e7; color: black;;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#map{
        margin: 0 auto;
/*margin-top: 25%;*/
position: fixed;
}
#available{
	 height: 350px;
  width: 50%;
}